{:deps {clj-http/clj-http        {:mvn/version "3.12.3"}
        org.clojure/data.json    {:mvn/version "2.4.0"}
        clj-time/clj-time        {:mvn/version "0.15.2"}
        com.datomic/ion          {:mvn/version "1.0.59"}
        metosin/reitit           {:mvn/version "0.4.2"}
        http-kit/http-kit        {:mvn/version "2.3.0"}
        com.datomic/client-cloud {:mvn/version "1.0.120"}
        com.datomic/dev-local    {:mvn/version "1.0.243"}
        com.datomic/ion-dev      {:mvn/version "1.0.306"}
        pandect/pandect          {:mvn/version "1.0.2"}}}